.hero-content {
    align-self: center;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    font-weight: 800;
    padding: var(--size-m);
    cursor: pointer;
    border-radius: var(--size-xl);
}

.hero-selected {
    box-shadow: 8px 8px var(--black-color-0);
}

.hero-content  div {
    animation-duration: 2s;
}