.heroes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-content {
    align-self: center;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    font-weight: 800;
    padding: var(--size-m);
    cursor: pointer;
}

.hero-selected {
    color: var(--purple-color-acid);
}