.icon {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}

.icon path {
    stroke-width: 3px;
}

.icon.deposit path, .icon.withdraw path {
    stroke: var(--blue-color-acid);
}

.icon.close path {
    stroke: var(--black-color-0);
}