.target label {
    /* color: var(--green-color-acid); */
    font-size: x-large;
    background-color: inherit;
}

.target input {
    margin-right: var(--size-s);
    width: 60%;
}

.target, .target input {
    color: var(--green-color-acid);
    text-align: right;
}

.target:has(input:focus) .terminal-loading {
    visibility: hidden;
}