.welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    height: 6em;
    padding: 1.5em;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    /* animation-name: logo; */
}
  
/* @keyframes logo {
    from {
        transform: scale(2.0);
    }
    to {
        transform: scale(1.0);
    }
} */

.welcome p {
    animation-duration: 2s;
    animation-name: neobase;
}

@keyframes neobase {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}