.account {
    
}

.account .info {
    background-color: var(--blue-color-acid);
    border-bottom-left-radius: var(--size-xl);
    border-bottom-right-radius: var(--size-xl);
    background-color: var(--black-color-0);
    padding: var(--size-m);
}

.info .box {
    margin: 0;
}

.info .value {
    color: white;
    font-size: 0.8em;
}

.info .value div:first-child {
    font-weight: 800;
    font-size: medium;
}

.progress-bar {
    display: flex;
    background-color:black;
    height: 40px;
    width: 100%;
    align-self: center;
    position: relative;
}

.progress-bar .progress {
    background-color: var(--green-color-acid);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    border-radius: var(--size-m);
}

.info h3 {
    color: var(--green-color-acid);
    margin: 0.5em;
    font-size: 0.8em;
}

.info .action {
    align-items: center;
}

.info .action h3 {
    font-weight: normal;
    color: white;
}


.progress-bar .progress-loading {
    background-color: var(--purple-color-acid);
    animation: progress-loading 5s infinite linear;
}

.account-action .header {
    align-items: center;
    margin-bottom: var(--size-m);
}

.account-action .target {
    margin: 0;
}

.account-action .description {
    font-size: 0.8em;
}

@keyframes progress-loading {
    from {
        width: 0;
    }

    to {
        width: 100%;;
    }
}