header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--blue-color-acid);
}

.user {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar {
    color: var(--purple-color-acid);
    animation-duration: 10s !important;
}

.connect-wallet-button button {
    background-color: var(--black-color-0);
}
