header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--blue-color-0);
}

.user {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    border: solid 2px white;
    width: 28px;
    height: 28px;
    background-color: var(--blue-color-0);
    margin-inline: 1rem;
}

.connect-wallet-button button {
    margin-inline: 1rem;
    background-color: var(--black-color-0);
}
