.risk {
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    font-weight: 800;
    padding: var(--size-m);
    cursor: pointer;
    align-self: first baseline;
}

.risk-selected {
    border-color: var(--purple-color-acid);
    background-color: var(--black-color-0);
    color: var(--purple-color-acid);
}