.main {
    height: 100vh;
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    /* background-color: var(--black-color-4); */
}

.main header {
    background-color: var(--black-color-0);
}

.balance .status, .balance .running-man-loading {
    display: block;
    font-weight: 800;
}

.balance .value {
    font-weight: 800;
    font-size: 1.5em;
    white-space:pre;
}

.balance .terminal-loading {
    font-size: 0.9em;
}