#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-content .close {
  position: absolute;
  right: var(--size-m);
  top: var(--size-m);
}

/* Content is ? */

.content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;  
  width: 100%;
}

/*
----------------------------------
-------------- Colors-------------
----------------------------------
*/

.purple {
  color: var(--purple-color-acid) !important;
}


/*
----------------------------------
----------- (シ_ _)シ ------------
----------------------------------
*/

.kaomoji {
  font-size: inherit;
  align-self: center;
  display: inline-block;
  font-weight: 800;
}

.revert {
  transform: scaleX(-1);
}

button:hover .kaomoji {
  transform: scaleX(-1);
}

/*
----------------------------------
----------- Direction ------------
----------------------------------
*/

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.in-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  grid-auto-rows: max-content;
}

/*
----------------------------------
------------ Shadowed ------------
----------------------------------
*/

.shadowed {
  box-shadow: var(--size-xxs) var(--size-xxs) var(--black-color-0);
}

/* Black Box */

.shadowed-black {
  box-shadow: var(--size-xxs) var(--size-xxs)  var(--black-color-0);
}

.shadowed-black-light {
  box-shadow: var(--size-xxs) var(--size-xxs)  var(--black-color-1);
}

.shadowed-purple {
  box-shadow: var(--size-xxs) var(--size-xxs) var(--purple-color-acid);
}

.shadowed-green {
  box-shadow: var(--size-xxs) var(--size-xxs) var(--green-color-acid);
}

.shadowed-blue {
  box-shadow: var(--size-xxs) var(--size-xxs) var(--blue-color-acid);
}

/*
----------------------------------
------------ Bordered ------------
----------------------------------
*/

.bordered {
  border-style: solid;
  border-width: 2px;
  border-radius: var(--size-m);
}

/* Black Box */

.bordered-white {
  border-color: white;
}

.bordered-black {
  border-color: var(--black-color-0);
}

.bordered-black-light {
  border-color: var(--black-color-1);
}

.bordered-purple-acid {
  border-color: var(--purple-color-acid);
}

.bordered-purple {
  border-color: var(--purple-color-acid);
}

.bordered-green-acid {
  border-color: var(--green-color-acid);
}

.bordered-blue-acid {
  border-color: var(--blue-color-acid);
}

.bordered-blue {
  border-color: var(--blue-color-acid);
}

/*
----------------------------------
------------- Boxes --------------
----------------------------------
*/

.box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: var(--black-color-0);
  transition: transform 300ms;
  margin: 0.5em;
}

.scroll-box {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  scroll-snap-type: y mandatory;/* do not set template columns and rows */
}

.scroll-box::-webkit-scrollbar {
  display: none;
}

.scroll-box-x {
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x proximity;/* do not set template columns and rows */
  scrollbar-width: none; 
}

.scroll-box-x::-webkit-scrollbar {
  display: none;
}

.scroll-box-x section {
  display: grid;
  scroll-snap-align: start;
}

.scroll-box-x .banner {
  white-space: normal;
}

/* White Box */

.box-white-dark {
  background-color: var(--black-color-3);
}

.box-white {
  background-color: var(--black-color-4);
}

/* Black Box */

.box-black {
  background-color: var(--black-color-0);
  border-color:  var(--black-color-0);
}

.box-black-purple {
  background-color: var(--black-color-0);
  border-color: var(--purple-color-acid);
  color: var(--purple-color-acid);
}

.box-black-green {
  background-color: var(--black-color-0);
  color: var(--green-color-acid);
}

.box-black-blue {
  background-color: var(--blue-color-acid);
  color: var(--green-color-acid);
}

.box-black-light {
  background-color: var(--black-color-1);
}

/* Blue Box */

.box-blue {
  background-color: var(--blue-color-acid);
}

.box-blue-light {
  background-color: var(--blue-color-1);
}

/* Green Box */

.box-green {
  background-color: var(--green-color-0);
}

.box-green-light {
  background-color: var(--green-color-1);
}

.box-green-acid {
  background-color: var(--green-color-acid);
}

/* Pink Box */

.box-pink {
  background-color: var(--pink-color-0);
}

.box-pink-light {
  background-color: var(--pink-color-1);
}

/* Yellow Box */

.box-yellow {
  background-color: var(--yellow-color-0);
}

.box-yellow-light {
  background-color: var(--yellow-color-1);
}

/* Red Box */

.box-red {
  background-color: var(--red-color-0);
}

.box-red-light {
  background-color: var(--red-color-1);
}

.box-purple-acid {
  background-color: var(--purple-color-acid);
}

.box-purple {
  background-color: var(--purple-color-acid);
}


/*
----------------------------------
------------- Foter --------------
----------------------------------
*/

.footer {
  padding: 1rem;
  margin-bottom: calc(-1rem - 2px);
  margin-inline: calc(-1rem - 2px);
  border-bottom-left-radius: var(--size-m);
  border-bottom-right-radius: var(--size-m);
  color: var(--black-color-0);
  border: solid 2px var(--black-color-0);
  
}

/*
----------------------------------
------------ Banner --------------
----------------------------------
*/

section {
  height: 100%;
}

.banners section {
  min-width: 90%;
}

.banner {
  align-items: flex-start;
}

.banner button {
  width: 100%;
}

.banner p {
  text-wrap: wrap;
}

h2 {
  margin-block: var(--size-s);
}

.banner button {
  width: 100%;
}

.banner p {
  text-wrap: wrap;
}


/*
----------------------------------
------------ Banner --------------
----------------------------------
*/


.story {
  justify-content: center;
  display: flex;
  color: var(--green-color-acid);
  /* border: solid 1px var(--green-color-acid) */
  /* align-content: stretch !important;  
  align-self: stretch !important; */
}

.story h2 {
  text-wrap: pretty;
  margin: 0;
  font-size: 1em;
}

.story section {
  scroll-snap-align: start;
}

.stories section {
  min-width: 60%;
}

/*
----------------------------------
------------ Buttons -------------
----------------------------------
*/

button {
  border: 2px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 800;
  font-family: inherit;
  cursor: pointer;
  transition: all 300ms;
  border-radius: var(--size-xl);
  color: inherit;
  user-select: none;
  outline: none;
  background-color: white;
}

/* White Button */

button.button-white:hover {
  color: var(--black-color-0);
  border-color: var(--black-color-0);
  background-color: var(--black-color-4);
}

button.button-white, button.button-white:active {
  color: var(--black-color-4);
  border-color: var(--black-color-0);
  background-color: var(--black-color-0);
}

/* Blue Button */

button.button-blue:hover {
  color: var(--black-color-0);
  border-color: var(--black-color-0);
  background-color: var(--blue-color-acid);
}

button.button-blue, button.button-blue:active {
  color: var(--blue-color-acid);
  border-color: var(--black-color-0);
  background-color: var(--black-color-0);
}

/* Green Button */

button.button-green:hover {
  color: var(--black-color-0);
  border-color: var(--black-color-0);
  background-color: var(--green-color-0);
}

button.button-green, button.button-green:active {
  color: var(--green-color-0);
  border-color: var(--black-color-0);
  background-color: var(--black-color-0);
}

button.button-green-acid:hover {
  color: var(--black-color-0);
  border-color: var(--black-color-0);
  background-color: var(--green-color-acid);
}

button.button-green-acid, button.button-green-acid:active {
  color: var(--green-color-acid);
  border-color: var(--black-color-0);
  background-color: var(--black-color-0);
}

button.button-purple:hover {
  color: var(--black-color-0);
  border-color: var(--black-color-0);
  background-color: var(--purple-color-acid);
}

button.button-purple, button.button-purple:active {
  color: var(--purple-color-acid);
  border-color: var(--black-color-0);
  background-color: var(--black-color-0);
}

button.button-purple-acid:hover {
  color: var(--black-color-0);
  border-color: var(--black-color-0);
  background-color: var(--purple-color-acid);
}

button.button-purple-acid, button.button-purple-acid:active {
  color: var(--purple-color-acid);
  border-color: var(--black-color-0);
  background-color: var(--black-color-0);
}

/* Pink Button */

button.button-pink:hover {
  color: var(--black-color-0);
  border-color: var(--black-color-0);
  background-color: var(--pink-color-0);
}

button.button-pink, button.button-pink:active {
  color: var(--pink-color-0);
  border-color: var(--black-color-0);
  background-color: var(--black-color-0);
}

/* Yellow Button */

button.button-yellow:hover {
  color: var(--black-color-0);
  border-color: var(--black-color-0);
  background-color: var(--yellow-color-0);
}


button.button-yellow, button.button-yellow:active {
  color: var(--yellow-color-0);
  border-color: var(--black-color-0);
  background-color: var(--black-color-0);
}

/* Red Button */

button.button-red:hover {
  color: var(--black-color-0);
  border-color: var(--black-color-0);
  background-color: var(--red-color-0);
}

button.button-red, button.button-red:active {
  color: var(--red-color-0);
  border-color: var(--black-color-0);
  background-color: var(--black-color-0);
}

/*
----------------------------------
------------ Inputs --------------
----------------------------------
*/

input {
  border-radius: var(--size-m);
  border: none;
  font-weight: 800;
  background-color: inherit;
  color: var(--black-color-0);
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}



imput:focus {
  outline: none;
}

/*
----------------------------------
------------- Lists --------------
----------------------------------
*/

ol {
  list-style-type: hiragana;
  margin-block: var(--size-xs);
}

/*
----------------------------------
------------- Float --------------
----------------------------------
*/

.float-right {
  justify-content: flex-end;
  text-align: right;
}

.float-left {
  justify-content: flex-start;
  text-align: left;
}

.float-near-border {
  justify-content: space-between;
  width: 100%;
}

.float-center {
  justify-content: space-around;
  width: 100%;
}

/*
----------------------------------
----------- Validation -----------
----------------------------------
*/

.invalid, .error {
  color: var(--purple-color-acid);
}
